<div class="max-w-2xl w-full mx-auto">
  <div class="mt-20 grid grid-cols-1 gap-1">
    <%= render @urls %>
  </div>

  <% if @pagy.pages > 1 %>
    <div class="mt-12 text-center text-sm">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>